# Tutorial 1a: Data Types in Python

# 1.0) Overview

In any programming language, you will be working with data that the computer is using as it processes your command. The data might be numbers, characters, words, true/false values, or collections of these.

As  frirst step in programming, you need to learn the difference between these types and how your programming language deals with each type. You also need to learn the specific syntax and assumptions the program will make when it deals tirh different data types.

In this tutorial, you will work through some simple examples of each data type. Read the text that goes with each section. In general, assume that you should work through the tutorial in the order presented to make sure that everything is defined before it sed.is u

** Note: if you have no experience programming, and have not completed tutorial 0, please go back and complete that prior to bnegining this notebook/tutorial. sed.

### 1.1) Imports needed

It is always bets practice to import the needed packages at the very top of the notebook. As a notebook is developed, you can always add to or take away from that cell. 

The cell should always be run before any ther cells in the notebook and right after any changes to the import lists are given.

In [146]:
import numpy as np

### 1.2) Two useful functions

To get information on data, we can use two built in functions that will work on a wide variety of data types. 

print() returns the contents of the () to the standard output, 

type() is used to let us know what the data type is for the quantity in the ()

Try these out for yourself on a few very basic items

In [2]:
type(1)

int

In [3]:
print(1)

1

In [4]:
type(1.0)

float

In [5]:
#We will learn more about strings in section 2.2 below.
type('hello')

str

In [6]:
print('hello')

hello

In [7]:
#type() can also tell you the result of a mathematical calculation 
type(1+2)

int

In [8]:
#print() can do a calculation and tell you what the result is 
print(1+2)

3

**Combining the Commands**

You can combine the print and type commands together. 

When you print the type() of a value, notice that the output looks a little different. Instead of just telling you the type it is a longer output with the data type enclosed in parenthesis with the class designation <class 'int'>.

In [9]:
print(type(1))

<class 'int'>

If you have multiple print commands in the same cell, you will get outputs for each print statement in the order they were placed.

In [10]:
print(1)
print('hello')

1
hello

If you have multiple type commands in the same cell, only the final command will show up in the output.

In [11]:
type(1)
type('hello')

str

This is where the combined print and type can really help.

In [12]:
print(1)
print(type(1))
print('hello')
print(type('hello'))

1
<class 'int'>
hello
<class 'str'>

**Multiple Prints and types**

In a print statement, you can include more than one thing to be printed be separating them with commas. 
You cannot find find the type of more than one thing in the same command. 

But you can create a single print statement that checkes more than one type.

In [13]:
#This command works
print("hello", 1)

hello 1

In [14]:
#This command will give you a TypeError
type("hello",1)

TypeError: type() takes 1 or 3 arguments

In [15]:
#This one works and makes the output make more sense
print("My number is:",1, "with a type of:", type(1))

My number is: 1 with a type of: <class 'int'>

# 2.0) Data Types

## 2.1) Numbers

**Integers**

Integers are the same as mathematical integers -numbers with no decimal places. So values like 1 2, 4, 9, 16, 25, etc are considered integers. 

**Float**

Numbers like 10.4, 2.39, .81, 1.96, etc. are all considered floats. 

Try out some of the examples below, and create your own cells to see for yourself.

In [16]:
type(1)

int

In [17]:
type(1.0)

float

In [18]:
type(.5)

float

In [19]:
type(1.)

float

In [20]:
type(1+5)

int

In [21]:
type(1.0+3.0)

float

In [22]:
#notice what happens if you add an integer and a float, what type do you get? 
type(1+.5)

float

Below this cell, try some values on your own and see what type are. Maybe try combining int + float, and then float + int.

## 2.2) Strings

Strings are another form of data types. A String (str) is a set of characters pieced together to hold data. The len() function tells you how many characters are within a string. For example, the phrase "Hello World" is a string of 11 characters.  Even though the words "Hello" and "World" are both 5 characters each, strings count spaces as characters as well, thus "Hello World" has a length of 11 characters.

In [23]:
type("Hello World")

str

In [24]:
len('hello')

5

In [25]:
len("Hello World")

11

In [26]:
len("My name is ...")

14

In the cell below, type your full name and use the len() and type() functions to apply the prior cells above.

In [27]:
#type your name and use the length and type functions

**Important** 

Syntax specificities is very import when programming Strings. There is a distinct different between "  " and '  '.

Note(s) 

- be consistent when using "  " and '  '
- - a common mistake that is typically made is when strings will be code with " and ending with ' and vice versa.
  - both work essential te same
  - I personally prefer that when I write my strings I use "  " because I think of a String as a literal quote or as if I am actually saying the string outloud
- When using an apostrophy (') in the middle of a string, make sure to include a forward slash because if not, then the error will read as "unterminated string literal"
- - this happens because if you have a ' in the middle of a "  ", the machine will read it as an unclosed string within a string
  - this is why the forward slash is necessary for the string

Look at some examples below.

In [28]:
print('this works') 
print("this works too")
print("it's much easier to write it's this way") 
print('but this way, it\'s possible to print out "quotes from other people"')

this works
this works too
it's much easier to write it's this way
but this way, it's possible to print out "quotes from other people"

Below we will look at some of the differences between using "  " and using '  '

In [29]:
print("It's a great day")

It's a great day

In [30]:
print('It's a great day')

SyntaxError: invalid syntax (3997527435.py, line 1)

The above cell does not work because the machine sees two strings, but one is left open while the other one is not.

Here is an exmaple of puting a string within a string using quotes and apostrophies.

In [31]:
print('She said "Hello"')

She said "Hello"

The example below will not work because using two quotes back to back causes a break in the string, which makes "Hello" no longer a part of the initial string.

In [32]:
print("She said "Hello"")

SyntaxError: invalid syntax (4042694816.py, line 1)

## 2.3) Booleans

Boolean is a data type that has two possible outcomes: True or False. When establishing if something is True or False, case sensitivity matters. True and False must always be capitalized when coding. 

Look at the examples below.

In [33]:
type(True)

bool

In [34]:
type(False)

bool

In [35]:
print(True) 
print(False)

True
False

**Be careful**

Capitalization matters with booleans. 

You must use True, not true, and False, not false.

The cell below shows an example of the error you would get with no capitalization.

In [36]:
type(true)

NameError: name 'true' is not defined

# 3.0) Operations

With operations in Python we are able to complete math operations on all kinds of data types (including Strings).

## 3.1) Basic operations with Numbers 

The simplest operations are addition, subraction, multiplication, and division as shown in the cells below.

In [37]:
5+3

8

In [38]:
7-6

1

In [39]:
#Note: multiplication uses an asterisk as the operation symbol, do not use an x for multiplication
9*2

18

In [40]:
8/4

2.0

Here we will look at some additional operations such as exponential, remainders, and division rounds.

In [41]:
# exponential operation: ** 
# The first number input is the base number, and the second number after the double asterisk is the exponential number 
# For example: 2 to the 3rd power is 8; see below 
2**3

8

In [44]:
#Division floor: //
#this operation outputs how many times one number goes into another (with no remainder) 
# for example: if you divide 18 into groups of 7, you can get two full groups.
18//7

2

In [46]:
# Remainder operation: %
# This function outputs the remainder of an equation 
# For example: divide 18 by 7 has a remainder of 4
18%7

4

## 3.2) Assignment operators

Python provides powerful tools for performing mathematical operations. In this section we will explore basic arithmitic and more. Basic number operations work the same way as if you were to write them down or use them in math class, the only exception to this rule is the multiplication operation which is coded using an askkrisk (*). 

See for more info
https://www.w3schools.com/python/python_operators.asp

Naming variables is really easy. 

variable_name = variable value

Look at some examples below.

<font color="red" >**EXTREMELY IMPORTANT NOTE ** </font>

When declaring variables, make sure to not name your variable a predefined function name. The machine will get confused and will have the predefined function act as the variable you named it. 

<font color="red" >** So do not use a statement such as**</font> <font color="blue" > print = 3  </font>

If you do, print will no longer work as a function!!!!

In [47]:
x = 3
x

3

In [48]:
y=4
y

4

You can then use the variable_name with the print functions and with operations.

In [49]:
print(x)
print(y)

3
4

In [50]:
k = x+y
k

7

In [51]:
my_variable = 45
my_string = "Hey y'all"
my_int = 7
my_flt = 5.0
print(my_variable, my_string, my_int, my_flt)

45 Hey y'all 7 5.0

In [52]:
print(my_flt + my_int)

12.0

In [53]:
a = 1
print(a)
print('a = ',a)
b = 2
print(b)
a = b
print(a)
print(b)

1
a =  1
2
2
2

Try and read the next code and guess what the output will be to test whether or not you're able to follow along.

In [54]:
a = 3 
b = 4 
c = 6 
print (a, b, c)
b = a
a = c 
c= 9  
print(a,b,c)

3 4 6
6 3 9

## 3.3) Comparison operators (Boolean)

Here we will talk about comparison operators. 
Comparison operators include equal to, less and less than or equal to, greater and greater than or equal to. 
The output for these functions is a True or False (boolean data type).

When using the equal to function, it needs to be two equal signs and not just one.

Remember; one equal sign is used to define a variable; two are used to determine whether or not one value is equal to another.

In [55]:
5==6

False

In [56]:
5==5

True

When using the inequality function, remember to put the function in the order that you would say it. 
For example, greater than or equal to: >=
See some examples below.

In [57]:
6>7

False

In [58]:
9>3

True

In [59]:
6>=6

True

In [60]:
6>=8

False

In [61]:
3<=2

False

In [62]:
3>=2

True

## 3.4) Operations on strings

Many different operations can be done outside of just numbers; operations can be done on strings as well (but not in the same capacity).

**Concatenation** is the function that allows you to combine two strings together using the '+' operator.

In [63]:
str1 = "Hello" 
str2 = 'World' 
#had to define both strings into different variables 
result = str1 + " " + str2
result

'Hello World'

Notice the space " " in the middle of the result code. 
This space is not always needed when adding two strings together to piece a sentence together. 
Look and see what happens when I add the two strings together without a space

In [64]:
result = str1 + str2
result

'HelloWorld'

You are also able to add strings with in another string without need the plus sign. Look the example below. They both print the same thing using two different methods. They both use format holders which allows you to add in a string within another string.

In [65]:
name = "Alice"
age = 30

# This one uses holders {} for the string variables inside the larger string statement.
print(f"My name is {name} and I am {age} years old.")
# Output: My name is Alice and I am 30 years old.

# This one uses a more complicated .format method that will be explored in greater detail in a future tutorial.
print("My name is {} and I am {} years old.".format(name, age))
# Output: My name is Alice and I am 30 years old.

My name is Alice and I am 30 years old.
My name is Alice and I am 30 years old.

Repetition is another way that strings can be added to one another. 
You can use the * operator to repeat specific strings, but be careful when doing so. 
Look at some of the different ways below that strings can be repeated.

In [70]:
#this method repeats the strings with no spaces. 
print("hello"*3)

#you can also use variables for the string and/or the number
str3 = "hello"
number = 4
str4 = str3*number
print(str4)

hellohellohello
hellohellohellohello

**Disallowed operations**

There are some String operations that are not allowed in python like division and subtraction. See below what happens if I try to subract or divide a string using the operations.

In [75]:
# This one will give a Type Error
print(str1 - str2)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [76]:
# You still get a Type Error even if the second string is a part of the first string
print(str4-str3)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [77]:
# This one will give a Type Error
print(str4/number)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

There are ways to split a string or remove a portion of the string, but it cannot be done with simple mathematical operations. We will cover how to do these in Tutorial 1b.

## 3.5) Operations between types

But, understand that combining all data types will not always work. Uncomment some of the cells below and see what happens when you combine some data types and see what the type() function does.

In [78]:
#This will give you a Type Error
type(1+'hello world')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The above cell does not work because Python does not know how to convert string types to a numerical value. Thus, the combination of an integer and a string does not work, unless you convert the integer to a string.

In [79]:
type(True + 1)

int

The above cell does work because Booleans have a value of either 0 or 1. Therefore, we are able to combine integers with a boolean expression.

In [80]:
type(True + 'Hello World')

TypeError: unsupported operand type(s) for +: 'bool' and 'str'

The above cell does not work because it is the same case as the first cell. Booleans have a value of 0 or 1, and strings have no numerical value assigned to it. so we are unable to combine a boolena expression with a string.

In [81]:
type(False + 1.22222222222)

float

The above cell does work because Booleans have an assigned numerical value to them, and floats are numbers. So combining an boolean with a float produces a float type piece of data.

# 4.0) Type Conversions

Type conversions are actually really easy once you get started. Follow along as we take you through int, flt, and str converstions. These can be done with values or with assigned variable names

## 4.1) to String 

All of the types we have talked about so far can be converted to strings.

In [82]:
# int to str 
str(5)

'5'

In [84]:
# flt to str (uncomment the last line and run the cell
num = 42.0 
str(num)

'42.0'

In [85]:
# bool to str 
str(True)

'True'

In [90]:
a = 1
b = str(a)
print("variable a is of type: ",type(a))
print("variable b is of type: ",type(b))

variable a is of type:  <class 'int'>
variable b is of type:  <class 'str'>

## 4.2) to float

Integers and booleans can always be converted to floats.

Some strings can be converted to floats but only if the values in the string are all numbers.

In [94]:
#int to flt
a = 36
b = float(a)
print("variable a is ",a," of type: ",type(a))
print("variable b is ",b," of type: ",type(b))

variable a is  36  of type:  <class 'int'>
variable b is  36.0  of type:  <class 'float'>

In [95]:
#bool to flt
float(True)

1.0

In [96]:
#bool to flt 
float(False)

0.0

In [97]:
#str to flt
num = '36'
float(num)

36.0

In [99]:
#str to flt
float('36.2')

36.2

In [100]:
#str to float 
#This will give you a ValueError
float("hello")

ValueError: could not convert string to float: 'hello'

The above cell does not work because strings that contain characters do not have an inherient numerical value.

## 4.3) to int 

Booleans easily go into integers. Floats that are converted to integers will lose the decimal information. 

Again, some strings can go into integers but great care is needed.

In [103]:
#flt to int
my_flt = 20.0
my_int = int(num)
print("my float variable is ",my_flt," of type: ",type(my_flt))
print("my integer variable is ",my_int," of type: ",type(my_int))

my float variable is  20.0  of type:  <class 'float'>
my integer variable is  20  of type:  <class 'int'>

In [104]:
#flt to int
my_flt = 20.7
my_int = int(num)
print("my float variable is ",my_flt," of type: ",type(my_flt))
print("my integer variable is ",my_int," of type: ",type(my_int))

my float variable is  20.7  of type:  <class 'float'>
my integer variable is  20  of type:  <class 'int'>

In [105]:
#bool to int 
int(True)

1

For strings, you can only convert directly strings which represent integers into integers. 

If you have a string which contains a decimal value, the conversion needs to have two steps. First convert the string into a float and then convert that float into an integer. This can be done in one line of code, but really has two steps.

In [106]:
#str to int
int("42")

42

In [110]:
#str to int
#This gives a ValueError
int("42.3")

ValueError: invalid literal for int() with base 10: '42.3'

In [111]:
#str to int
int(float("42.3"))

42

## 4.4) to Bool

Numbers can also be converted into Booleans. 

The number zero will convert to a False value. This will happen if the zero value is an integer(0) or a float (0.0).

Any other number will convert to a True value.

In [115]:
#int to bool
bool(0)

False

In [118]:
bool(0.0)

False

In [114]:
#int to bool
bool(1)

True

In [112]:
# int to bool
bool(36)

True

In [113]:
#float to bool 
bool(36.0)

True

In [116]:
bool(-1)

True

In [117]:
bool(0.0000000001)

True

Strings can also be converted to Boolean values, but not with the results you might expect. Try the examples below to see what happens.

In [122]:
bool("True")

True

In [123]:
bool("False")

True

In [127]:
bool("Hello")

True

In [128]:
bool("5")

True

In [129]:
bool("0")

True

In [130]:
bool("")

False

For strings, any non-empty string will convert to a True value.

Only empty strings given by "" will convert as False. 


While this may seems confusing, the conversion here is checking to see if the string contains anything (yes, then it is True) or (no, then it is False).

# 5.0) Numpy functions to do math 



Numpy the package we imported at the beginning of this tutorial has many different math functions, hence the name NumPy. Look at some examples below to see the power of NumPy. 

Note: NumPY will typically return a float data type. The data type may be listed as "numpy.float64" which is a float with higher decimal precision. Ways to specify the data type for numpy operations will be covered in future tutorials.

## 5.1) Common functions

In [133]:
#This one gives the square root
np.sqrt(25)

5.0

In [134]:
print(np.sqrt(25))
print(type(np.sqrt(25)))

5.0
<class 'numpy.float64'>

In [148]:
num=3
print("The square root of ",num, " is ", np.sqrt(num))

The square root of  3  is  1.7320508075688772

In [138]:
#This is log base 10
np.log10(1000)

3.0

In [137]:
#This is the exponential
np.exp(1)

2.718281828459045

## 5.2) Trig 
Below are some of the trigonometric functions used by numpy.

np.pi is a constant value stored in the numpy module

The standard function assumes the angles are given in radians.

In [140]:
angle = np.pi / 6
print("angle: ", angle)
print("Sine: ", np.sin(angle)) 
print("Cosine: ", np.cos(angle))
print("Tangent: ", np.tan(angle))

angle:  0.5235987755982988
Sine:  0.49999999999999994
Cosine:  0.8660254037844387
Tangent:  0.5773502691896257

You can convert between angle units using numpy functions deg2rad and rad2deg

In [141]:
angle_deg = 60
angle_rad = np.deg2rad(angle_deg)
print("an angle of ", angle_deg," degrees is equal to ", angle_rad," radians")

an angle of  60  degrees is equal to  1.0471975511965976  radians

In [142]:
angle_rad = 1.3
angle_deg = np.rad2deg(angle_rad)
print("an angle of ", angle_rad," radians is equal to ", angle_deg," degrees")

an angle of  1.3  radians is equal to  74.48451336700703  degrees

## 5.3)Documentation for numpy

You can use the python help() function to get more information on a particular numpy function (as demonstrated below). 

You can also find complete documentation of all numpy functions at <a href="https://numpy.org/doc/stable/reference/routines.math.html"> https://numpy.org/doc/stable/reference/routines.math.html </a>

In [145]:
#uncomment the line below by removing the # symbol in front and then executing the cell

#help(np.sqrt)

# Assignment


To practice the concepts you learned in this tutorial, try the following exercises. Feel free to look back at the tutorial as you go.

## Excercise 1)

* Assign 1 number each to the variables "a" and "b"
* Predict the result of the following operations
  * Add a and b
  * Subtract a from b
  * Calculate (a+b)/b
  * Find the floor and remainder of that division
* Write the code lines to do these calculations
* Create a print statement for one of these calculations that includes text describing the calculation along with the result

In [ ]:
# Enter your code below

## Exercise 2) 

* Create a string variable with your name
* Create an integer variable with any value you want
* Convert the integer to a string
* Create a new string variable that concatenates the name and number into a single string

In [147]:
# Enter your code below

## Exercise 3)

In Astronomy, we often work with spheres. Find the surface area of a sphere for a particular radius.
* Define a variable for the radius using a value of your choice
* Calculate the surface area of the star using the numpy pi constant and the numpy square function
* Create a nice print statement to output your radius and area

In [ ]:
#Enter your code below